$accent-color: #d04747;
$text-color: #FAF8F2;
$background-color:#FAF8F2;
$primary-color:#000000f6;
$active-color: #BA0000; 
$nav-active-color: #2c2d31;
$box-size: 100px;

// Colores modo oscuro
$text-color_dark: #FAF8F2;
$background-color_dark: #3a3535b6
