main  
    padding: 32px 
    display: flex 
    align-items: center 
    justify-content: center 
    flex-direction: column 
    margin-bottom: 40px 
    

.banner  
    width: 90% 
    display: flex 
    margin: 40px 
    justify-content: center 

 

.articulos  
    display: flex 
    justify-content: space-evenly 
    flex-wrap: wrap 
    margin-bottom: 80px 
    h2
        display: flex
        padding: 8px

article  
    width: 30% 
    img
        width: 100%