.footer-page
    background-color: $primary-color
    border-radius:5px 
    min-height: 7rem 
    max-height: 160px
    width: 100% 
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px 30px

.footer-rss
    display: flex
    justify-content: space-between
    flex-direction: row
    img
        padding: 30px
        height: auto
        max-width: 100%
        min-width: 20px
        min-height: 20px

.logo-footer
    height: auto
    max-width: 100%
.footer-otros
    display: flex
    justify-content: space-between
    flex-direction: row
    font-family: 'Roboto' ,sans-serif
    a
        padding: 30px

@media(max-width: 900px)
    .footer-otros
        display: flex
        flex-direction: row
        align-self: center
        ul
            padding: 3vw
    .logo-footer
        display: none
    .footer-rss
        ul
            padding: 3vw