footer  
    display: flex 
    align-content: center 
    background-color: #000000f6 
    border-radius:5px 
    min-height: 7rem 
    background-image: url(/src/assets/img/icon-abajo\ 1.png) 
    background-repeat: no-repeat 
    background-position: 50% 
    width: 100% 
 

footer nav ul li 
    display: inline-flex 

 

footer nav ul li img  
    width: auto 
    height: auto 
