.encabezado
    background-color: $primary-color
    border-radius:5px 
    height: 160px   
    width: 100% 
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px 30px

.logo  
    width: auto 
    height: auto 
    max-width: 10rem 
    max-height: 10rem 
 
.navegador ul  
    display: flex
    color: $text-color
    font-family:'Roboto',sans-serif 
    font-size: 24px
.navegador
    ul
        li
            padding: 3vw
            a
                transition: 0.5s
.navegador ul li a:hover
    color: $accent-color
    cursor: pointer
.hamburger
    display: none
    cursor: pointer
.bar
    display: block
    width: 25px
    height: 3px
    margin: 5px auto
    -webkit-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    background-color: white

@media(max-width: 1300px)
    .navegador
        ul
            li
                padding: 2vw
// Media query que ocultará el menú de navegación y mostrará el menú hamburguesa
@media(max-width: 900px)
    .hamburger
        display: block
    .hamburger.active .bar:nth-child(2)
        opacity: 0
    .hamburger.active .bar:nth-child(1)
        transform: translateY(8px) rotate(45deg)
    .hamburger.active .bar:nth-child(3)
        transform: translateY(8px) rotate(-45deg)
    .nav-menu
        position: fixed
        left: -100%
        top: 70px
        gap: 0
        flex-direction: column
        background-color: $primary-color
        width: 100%
        text-align: center
        transition: 0.3s
    .searchbar
        display: none
    .navegador ul
        margin: 16px 0
    .navegador ul.active
        left: 0
