header  
    padding: 10px 
    background-color: $primary-color
    border-radius:5px 
    height: 9rem 
    min-width: 100rem 
    display: inline-flex 
    width: 100% 
 

.logo  
    width: auto 
    height: auto 
    max-width: 10rem 
    max-height: 10rem 
    padding: 5px 

 

.navegador  
    display: inline-flex 
    align-items: center 
    justify-content: space-between  

    

 

nav ul  
    display: inline-flex 
    justify-content: center 
    align-items: center 
    color: $text-color
    font-family:'Roboto',sans-serif 
    font-size: large 
    
 

header nav ul li 
    display: inline-flex 