/*Estilo en documento */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-image: url(/src/assets/img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: beige;
    
}

@font-face {
    font-family: 'Roboto',sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
}
@font-face {
    font-family: 'Roboto Slab', serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
}
/* Estilo en el encabezado */

header {
    padding: 10px;
    background-color: #000000f6;
    border-radius:5px;
    height: 9rem;
    min-width: 100rem;
    display: inline-flex;
    width: 100%;
}

header a img {
    width: auto;
    height: auto;
    max-width: 10rem;
    max-height: 10rem;

}

header nav {
    display: inline-flex;
    align-items: center;

}

header nav ul li{
    display: inline-flex;
}

nav ul {
    color: #FAF8F2;
    font-family:'Roboto',sans-serif;
    font-size: large;

}
a {
    list-style: none;
    text-decoration: none;

}
p {
    font-family: 'Roboto',sans-serif;

}
h2 {
    font-family: 'Roboto Slab', serif;
    color: #d04747;
    font-weight: lighter;
    font-size: 36;
    
}
/* Estilo del cuerpo principal del documento */

main {
    padding: 32px;
    //display: flex;
}

.banner {
    height: auto;
    width: auto;
    width: 50%;
    margin: 40px;
    justify-content: center;
}

.articulos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
article {
    width: 30%;

}




/* Estilo del footer */

footer {
    display: flex;
    align-content: center;
    background-color: #000000f6;
    border-radius:5px;
    min-height: 7rem;
    background-image: url(/src/assets/img/icon-abajo\ 1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
}

footer nav ul li{
    display: inline-flex;

}

footer nav ul li img {
    width: auto;
    height: auto;


}

/* Otros */

.boton {
    border-radius: 10px;
    border-style: hidden;
    background-color: #d04747;
    
    
}

.boton a {
    font-size: medium;
    font-family: 'Roboto Slab';
}

a {
    color: white;
    padding: 8px;
    border-radius: 4px;
  }
  
